@use '_variable';

@mixin little-flag {
  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    //--- right of datepicker ---//
    // right: 1.2rem;
    //--- center of datepicker ---//
    /* left: 50%; transform: translateX(-50%); */
    //--- left of datepicker ---//
    /* left: 1.2rem; */
    border: solid transparent;
    border-bottom-color: var(--pdp-background);
    border-width: 0.4rem;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: var(--pdp-radius);
    border: 0.1rem solid white; /* should match background, can't be transparent */
    background: var(--pdp-border-color);
  }
}

@keyframes start {
  from {
    transform: inherit scale(0.5);
    opacity: 0;
  }
  to {
    transform: inherit scale(1);
    opacity: 1;
  }
}

@keyframes startModal {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@media (max-width: 700px) {
  .pdp-picker {
    flex-direction: column-reverse;
  }

  .pdp-shortcut {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 !important;
    border: none !important;
  }
}

.pdp {
  position: relative;
  font-family: var(--pdp-font-family);

  // --- THEME PRESETS ---
  &.pdp-color-red {
    --pdp-primary-color: #c7004c;
    --pdp-secondary-color: #ffaaaa;
    --pdp-in-range-background: #ffd2d2;
    --pdp-day-selected-bg: #c7004c;
    --pdp-button-bg: #c7004c;
    --pdp-input-focus-border-color: #c7004c;
  }
  &.pdp-color-pink {
    --pdp-primary-color: #e56ab3;
    --pdp-secondary-color: #ef87be;
    --pdp-in-range-background: #fcbcd7;
    --pdp-day-selected-bg: #e56ab3;
    --pdp-button-bg: #e56ab3;
    --pdp-input-focus-border-color: #e56ab3;
  }
  &.pdp-color-orange {
    --pdp-primary-color: #ffa500;
    --pdp-secondary-color: #ffbe47;
    --pdp-in-range-background: #ffe0a6;
    --pdp-day-selected-bg: #ffa500;
    --pdp-button-bg: #ffa500;
    --pdp-input-focus-border-color: #ffa500;
  }
  &.pdp-color-green {
    --pdp-primary-color: #38a169;
    --pdp-secondary-color: #89dda3;
    --pdp-in-range-background: #c6f6d5;
    --pdp-day-selected-bg: #38a169;
    --pdp-button-bg: #38a169;
    --pdp-input-focus-border-color: #38a169;
  }
  &.pdp-color-purple {
    --pdp-primary-color: #7825d0;
    --pdp-secondary-color: #c196ed;
    --pdp-in-range-background: #d4baf3;
    --pdp-day-selected-bg: #7825d0;
    --pdp-button-bg: #7825d0;
    --pdp-input-focus-border-color: #7825d0;
  }
  &.pdp-color-gray {
    --pdp-primary-color: #494848;
    --pdp-secondary-color: #909090;
    --pdp-in-range-background: #b4b4b4;
    --pdp-day-selected-bg: #494848;
    --pdp-button-bg: #494848;
    --pdp-input-focus-border-color: #494848;
  }
  // ---------------------

  &:not(.pdp-range) .pdp-day.start-range {
    border-radius: var(--pdp-radius) !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.start-range {
    border-radius: 0 var(--pdp-radius) var(--pdp-radius) 0 !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.end-range {
    border-radius: var(--pdp-radius) 0 0 var(--pdp-radius) !important;
  }

  &.pdp-range .pdp-picker.rtl .pdp-day.end-range.start-range {
    border-radius: var(--pdp-radius) !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.start-range {
    border-radius: var(--pdp-radius) 0 0 var(--pdp-radius) !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.end-range {
    border-radius: 0 var(--pdp-radius) var(--pdp-radius) 0 !important;
  }

  &.pdp-range .pdp-picker.ltr .pdp-day.end-range.start-range {
    border-radius: var(--pdp-radius) !important;
  }

  &.rtl {
    direction: rtl;
    text-align: right;

    .pdp-group {
      :first-child:not(.pdp-inside),
      .pdp-inside:first-child + input {
        border-top-right-radius: var(--pdp-radius);
        border-bottom-right-radius: var(--pdp-radius);
        margin-left: -1px;
      }

      input:last-of-type {
        border-top-left-radius: var(--pdp-radius);
        border-bottom-left-radius: var(--pdp-radius);
      }

      .pdp-icon.pdp-inside {
        &:nth-of-type(2) {
          right: 50%;
        }
        + input {
          padding-right: 3rem;
        }
      }
    }

    &.pdp-dual {
      .pdp-clear {
        &:nth-of-type(1) {
          left: calc(50% + 0.5rem) !important;
        }
      }
    }

    .pdp-picker::after {
      right: 1.2rem;
    }
  }

  &.ltr {
    direction: ltr;
    text-align: left;

    .pdp-group {
      :first-child:not(.pdp-inside),
      .pdp-inside:first-child + input {
        border-top-left-radius: var(--pdp-radius);
        border-bottom-left-radius: var(--pdp-radius);
        margin-right: -1px;
      }

      input:last-of-type {
        border-top-right-radius: var(--pdp-radius);
        border-bottom-right-radius: var(--pdp-radius);
        font-family: sans-serif;
      }

      .pdp-clear {
        left: unset;
        right: 0.5rem;
      }

      .pdp-icon.pdp-inside {
        &:nth-of-type(2) {
          left: 50%;
        }
        + input {
          padding-left: 3rem;
        }
      }
    }

    &.pdp-dual {
      .pdp-clear {
        &:nth-of-type(1) {
          right: calc(50% + 0.5rem) !important;
        }
      }
    }

    .pdp-picker::after {
      left: 1.2rem;
    }
  }

  &.pdp-dual {
    .pdp-picker {
      left: 50%;
      transform: translateX(-50%);

      &::after {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.pdp-modal {
    .pdp-overlay {
      background: rgba(0, 0, 0, 0.5) !important;
    }

    .pdp-picker {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: startModal 0.1s;

      &::after {
        all: unset !important;
      }
    }
  }

  &.pdp--time-panel-open {
    .pdp-auto {
      margin: 0;
    }

    .pdp-main .pdp-date,
    .pdp-main .pdp-time.inline {
      visibility: hidden;
    }

    .pdp-header {
      display: none;
    }

    .pdp-main {
      min-height: 19rem;
    }
  }

  * {
    box-sizing: border-box;
  }

  svg {
    vertical-align: middle;
  }

  input,
  button {
    font-family: inherit;
  }

  .pdp-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .pdp-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    .pdp-input {
      display: block;
      height: var(--pdp-input-height);
      padding: var(--pdp-input-padding);
      font-size: var(--pdp-font-size);
      font-weight: 400;
      line-height: 1.5;
      background-clip: padding-box;

      background-color: var(--pdp-input-bg);
      color: var(--pdp-text-color);

      border: var(--pdp-input-border-width) solid var(--pdp-border-color);
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      position: relative;
      flex: 1 1 auto;
      width: 100%;

      &.pdp-focus {
        outline: none;
        border-bottom: 2px solid var(--pdp-input-focus-border-color);
      }
    }

    .pdp-icon {
      padding: var(--pdp-input-padding);
      line-height: 1.5;
      font-size: var(--pdp-font-size);
      color: var(--pdp-text-color);
      background: var(--pdp-icon-background);
      border: 1px solid var(--pdp-border-color);
      max-height: var(--pdp-input-height);

      &:nth-of-type(2) {
        margin-left: -1px;
        margin-right: -1px;
      }

      &.pdp-inside {
        background: transparent;
        border: none;
        position: absolute;
        z-index: 1;
      }
    }

    .pdp-clear {
      border: none;
      background-color: transparent;
      position: absolute;
      left: 0.5rem;
      top: 0;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
      padding: 0 0.5rem;
    }
  }

  .pdp-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--pdp-z-index);
    background: var(--pdp-overlay-color);
  }

  .pdp-picker {
    display: flex;
    position: absolute;
    color: var(--pdp-text-color);
    background: var(--pdp-background);
    box-shadow: var(--pdp-main-box-shadow);
    z-index: calc(var(--pdp-z-index) + 1);
    border-radius: var(--pdp-radius);
    transition: all 1s ease;
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    animation: start 0.1s;

    &.ltr {
      direction: ltr;

      .pdp-header .bottom {
        flex-direction: row-reverse;

        & > div {
          display: flex;
          flex-direction: row-reverse;
        }
      }

      .pdp-select-year,
      .pdp-days,
      .pdp-header .pdp-year,
      .pdp-footer small,
      .pdp-time {
        font-family: sans-serif !important;
      }

      .pdp-shortcut {
        border-right: unset;
        border-left: 1px solid var(--pdp-border-color);
      }
    }

    &.rtl {
      direction: rtl;
    }

    &.pdp-top {
      bottom: calc(1.5em + 0.75rem + 2px);
      margin-top: unset;
      margin-bottom: 0.5rem;

      &::after {
        bottom: unset;
        top: 100%;
        transform: rotate(180deg);
      }
    }

    &.pdp-left {
      left: 0;
      right: unset;

      &::after {
        right: unset;
        left: 1.2rem;
      }
    }

    &.pdp-right {
      left: unset;
      right: 0;

      &::after {
        left: unset;
        right: 1.2rem;
      }
    }

    @include little-flag();

    ::selection {
      all: unset;
    }

    .pdp-auto {
      &,
      & > div {
        background: inherit;
      }
    }

    .pdp-select-year,
    .pdp-select-month {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      background: inherit;
      list-style: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 3.5rem;
      bottom: 3.5rem;
      padding: 0;
      margin: 0;
      z-index: 1;
      animation: start 0.1s;
      overflow: auto;

      li {
        width: 5rem;
        height: 4rem;
        padding: 0.2rem;
        cursor: pointer;
        margin: 0.15rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 30% 0;

        &:not(.disabled):hover {
          border-radius: var(--pdp-radius);
          border: 2px solid var(--pdp-primary-color);
        }

        &.disabled {
          text-shadow: unset;
          box-shadow: unset;
          cursor: default !important;
          opacity: var(--pdp-disabled-opacity);
        }

        &.selected {
          border: 2px solid var(--pdp-primary-color);
          border-radius: var(--pdp-radius);

          background: var(--pdp-day-selected-bg) !important;

          color: var(--pdp-day-selected-text-color);
        }
      }

      @include scrollbar();
    }

    .pdp-header {
      background: var(--pdp-header-bg);
      color: var(--pdp-header-text-color);

      & > div:first-child {
        border-bottom: 1px solid var(--pdp-border-color);
        margin-bottom: 0.5rem;
      }

      .top {
        padding: 0.75rem 0.3rem 1rem 0.3rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        direction: rtl;

        button {
          border: 0;
          background: inherit;
          cursor: pointer;
          color: var(--pdp-primary-color);
          padding: 0 0.5rem;
        }
      }

      .bottom {
        padding: 0.3rem;
        display: flex;
        align-items: center;
        height: 3rem;
        direction: rtl;

        & > div {
          display: flex;
          flex-grow: 1;
          justify-content: space-around;

          .pdp-month,
          .pdp-year {
            color: var(--pdp-primary-color);
            font-size: var(--pdp-font-size);
          }
        }

        button {
          border: 0;
          background: inherit;
          cursor: pointer;

          &:focus {
            outline: 0;
          }
        }

        .pdp-arrow.disabled {
          opacity: var(--pdp-disabled-opacity);
        }

        .pdp-arrow:not(.disabled):hover {
          opacity: var(--pdp-disabled-opacity);
        }
      }
    }

    .pdp-main {
      position: relative;

      .pdp-date {
        display: flex;
        justify-content: center;

        .pdp-column {
          margin: 0 1rem;

          .pdp-week {
            background: inherit;
            background: var(--pdp-weekday-bg);
            color: var(--pdp-weekday-text-color);
            margin-bottom: 0.3rem;
            display: flex;
            justify-content: space-around;

            .pdp-weekday {
              width: var(--pdp-day-dimensions);
              height: var(--pdp-day-dimensions);
              line-height: var(--pdp-day-dimensions);
              font-size: 0.8rem;
              text-align: center;
            }
          }

          .pdp-days {
            background: inherit;

            .pdp-day {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              margin: 0.1rem 0;
              font-size: 0.8rem;
              width: var(--pdp-day-dimensions);
              height: var(--pdp-day-dimensions);
              border-radius: var(--pdp-radius);
              padding: 0;
              cursor: pointer;
              transition-property: background-color, box-shadow;
              transition-duration: 0.1s;
              contain: content;

              color: var(--pdp-day-text-color);

              &.friday {
                color: var(--pdp-primary-color);
              }

              &.empty {
                visibility: hidden;
              }

              &.start-range,
              &.end-range {
                background: var(--pdp-day-selected-bg);
                color: var(--pdp-day-selected-text-color);
              }

              &.disabled {
                box-shadow: unset;
                text-shadow: unset;
                cursor: default !important;
                border-color: transparent;
                opacity: var(--pdp-disabled-opacity);
              }

              &.hover {
                background: var(--pdp-day-hover-bg) !important;
                color: var(--pdp-hover-color);
              }

              &.in-range {
                background: var(--pdp-in-range-background);
                color: var(--pdp-hover-color);
                border-radius: 0 !important;
              }

              &:not(.disabled):hover,
              &.today {
                border: 2px solid var(--pdp-primary-color);
              }

              &.tada {
                animation: tada 1s;
                background: var(--pdp-secondary-color);
                box-shadow: inset 0 4px 9px rgba(0, 0, 0, 0.24);
                color: #000;
                position: relative;
                z-index: 1;
              }
            }
          }
        }
      }

      .pdp-time {
        background: inherit;

        &:not(.inline) {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        .pdp-column {
          display: flex;

          div {
            width: 16.6rem;
          }
        }

        .pdp-moment {
          margin-bottom: 1rem;
          font-size: calc(2rem * var(--pdp-time-scale));
          display: flex;
          justify-content: space-around;
          height: 100%;

          &.column-direction {
            flex-direction: column;
          }

          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            direction: ltr;
            width: 100%;
            padding: 1rem 0;

            &.disabled {
              opacity: var(--pdp-disabled-opacity);
            }

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0 0.8rem;

              button {
                border: none;
                background: none;
                cursor: pointer;

                svg {
                  width: calc(8px * var(--pdp-time-scale));
                }
              }
            }
          }
        }
      }
    }

    .pdp-footer {
      text-align: center;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--pdp-border-color);
      padding: 0.5rem 0.3rem;
      background: var(--pdp-footer-bg);

      .pdp-today,
      .pdp-submit {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
        margin: 0 0.3rem;
        line-height: 1.5;
        color: var(--pdp-button-text-color);
        text-decoration: none;
        border: none;
        border-radius: var(--pdp-button-radius);
        background: var(--pdp-button-bg);
        cursor: pointer;

        &:hover {
          filter: brightness(0.9);
        }
      }

      > div {
        display: flex;
        align-items: center;
      }
    }

    .pdp-shortcut {
      margin: 0;
      padding: 0.5rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-right: 1px solid var(--pdp-border-color);
      background: var(--pdp-shortcut-bg);

      li {
        padding: 0.5rem 1rem;
        text-align: center;
        cursor: pointer;
        border-radius: var(--pdp-radius);
        margin: 0.25rem 0;
        color: var(--pdp-shortcut-text-color);
        font-weight: 500;

        &:hover {
          background: var(--pdp-in-range-background);
        }

        &.selected {
          background: var(--pdp-day-selected-bg);
          color: var(--pdp-day-selected-text-color);
        }
      }
    }

    .pdp-time-panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--pdp-background);
      z-index: 2;
      display: flex;
      flex-direction: column;
      animation: start 0.4s;

      &-header {
        position: relative; // For absolute positioning of back button
        display: flex;
        align-items: center;
        justify-content: center; // Center title
        text-align: center;
        padding: 0.75rem;
        border-bottom: 1px solid var(--pdp-border-color);
        color: var(--pdp-primary-color);
        font-weight: bold;

        & > div {
          display: flex;
          flex-grow: 1;
          justify-content: space-around;
        }

        button {
          font-size: 1.2rem;
          background: inherit;
          color: var(--pdp-primary-color);
          border: 0;
          cursor: pointer;

          &:focus {
            outline: 0;
          }
        }
      }

      &-body {
        flex: 1;
        overflow: hidden;

        ul {
          list-style: none;
          padding: 1rem;
          margin: 0;
          height: 100%;
          overflow-y: auto;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.5rem;
          @include scrollbar();

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.15s ease-in-out;
            font-size: 0.9rem;

            &:hover:not(.disabled) {
              background-color: #f0f0f0; // Could utilize a hover var here
            }

            &.selected {
              background-color: var(--pdp-primary-color) !important;
              color: white !important;
              font-weight: bold;
            }

            &.disabled {
              cursor: default !important;
              opacity: var(--pdp-disabled-opacity);
              background-color: transparent !important;
              color: inherit;
            }
          }
        }
      }
    }

    .pdp-main .pdp-time .pdp-moment > div div .pdp-time-display {
      cursor: pointer;
      padding: 0 0.2rem;
      border-radius: var(--pdp-radius);
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: var(--pdp-in-range-background);
      }
    }
  }

  .pdp-pointer {
    cursor: pointer;
  }

  .pdp-auto {
    margin: auto;
    position: relative;
  }
}